.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.inter-heading {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "slnt"0;
}

.inter-heading-2 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt"0;
}

.noto-sans-1 {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth"100;
}

.active-white {
  display: flex;
  width: fit-content;
  justify-content: center;
  gap: 0.5rem;

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  border-width: 0px;
  border-radius: 1rem;
  vertical-align: middle;
  align-items: center;
  font-weight: 700;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  background-color: #000000;
  color: #ffffff
}

.inactive-white {
  display: flex;
  width: fit-content;
  justify-content: center;
  gap: 0.5rem;
  /* color: #000000; */

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }


  border-width: 0px;
  border-radius: 1rem;
  vertical-align: middle;
  align-items: center;
  font-weight: 700;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pending-white {
  display: flex;
  width: fit-content;
  justify-content: center;
  gap: 0.5rem;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }


  border-width: 0px;
  vertical-align: middle;
  align-items: center;
  font-weight: 700;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  width: fit-content;
  justify-content: center;
  gap: 0.5rem;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 0.575rem;
    line-height: 0.75rem;
  }


  border-width: 0px;
  vertical-align: middle;
  align-items: center;
  font-weight: 700;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.transitioning-white {
  display: flex;
  width: fit-content;
  justify-content: center;
  gap: 0.5rem;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }


  border-width: 0px;
  vertical-align: middle;
  align-items: center;
  font-weight: 700;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.nav-white :hover {
  color: #ffffff;
  background-color: #000000;
  border-radius: 1rem;
}

.hover {
  color: #ffffff;
  background-color: #000000;
  border-radius: 1rem;
}